.mx-3{
    border-radius:20px;
    padding:5px;
}
.btn-info{
margin-bottom: .4rem;
}
.he{
    text-align:center;
    padding-bottom: 10px;
    font-family: 'Yeon Sung', cursive;

}
.hex{
    text-align:center;
    padding-bottom: 10px;
    font-family: auto;
    font-size:18px;

}
.trd{
    text-align: center;

}
.tbd{
    text-align: center;
}
