/* .spacer {
    flex: 1 1 auto;
  } */
  /* .navbar-brand img{
    height:150px;
    width:150px;
} */
/* .carousel-item img{
    width:100%;
    height:50%;
} */
/* .container a{
    text-align: center;
} */
/* .table img{ 
     max-width: 300px;
    
    padding: 10px;
} */
/* .imagepara img{
    max-width: 200px;
    padding: 10px;
    
} */
/* .imagepara{
    background-color: gray;
}
footer{
    display: flex;
    justify-content: center;
    padding:10px;
}
footer div{
    padding:10px;
    font-size: 30px;
}
.myclass{
    background-color:navy!important;
}
/* h5{
    padding:20px;
} */
/* .navbar-section1{
    border-bottom: 3px solid red;
}
.d-block{
  width:auto;
  height: 600px;

}  */