<div class="col-md-6 user-container">
    <h2 class="text-center">Edit User</h2>
    <form [formGroup]="editForm"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="BicycleNumber">UserName</label>
        <input type="string" formControlName="UserName" placeholder="UserName" name="UserName" class="form-control" id="UserName" readonly="true">
      </div>

      <div class="form-group">
        <label for="HubId">Role</label>
        <select class="custom-select" (change)="changeRole($event.target.value)">
            <option value="">Choose the roles</option>
            <option *ngFor="let role of roles" [value]="role.roleName">
              
            </option>
          </select>
      </div>
      <button class="btn btn-success" [disabled]="!opt" >Update</button>
    </form>
  </div>
